body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.kreon-font {
    font-family: "Kreon", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.container {
    margin: 5px auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    border: 2px solid red;
    padding: 10px;
}

.inner-container {
    padding: 5px;
    /* border: 2px solid blue; */
}


/* drawing */
#drawing-container {
    justify-content: flex-start;
    width: 298px;
    height: 418px;
}
#cardui-container {
    position: absolute;
    width: 250px;
    height: 596px;
}
.cardui-part {
    position: absolute;
    pointer-events: none;
}
.cardui-base {
    width: 298px;
    height: 418px;
    top: 10px;
}
.cardui-border {
    width: 262px;
    height: 185px;
    left: 20px;
    top: 70px;
}
.cardui-banner {
    width: 323px;
    height: 71px;
    left: -10px;
    top: 21px;
}
.cardui-energy {
    width: 66px;
    height: 66px;
    left: -15px;
    top: -12px;
}

#canvas-container {
    position: absolute;
}
#drawing-canvas {
    position: absolute;
    width: 250px;
    height: 190px;
    left: 22px;
    top: 30px;
}

canvas {
    image-rendering: pixelated;
}

#colour-container {
    min-width: 400px;
}

#picker {
    width: 100%;
    --details-style: compact;
}

#thickness-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#thickness {
    writing-mode: vertical-lr;
    direction: rtl;
    margin: auto;
}


/* results */
#real-card {
    border: 2px solid green;
}

#drawn-card {
    border: 2px solid yellow;
}

.results {
    font-size: 2em;
}

#score-value {
    font-weight: bold;
}
