body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.kreon-font {
    font-family: "Kreon", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.container {
    margin: 5px auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    border: 2px solid red;
    padding: 10px;
}


/* drawing */
.inner-container {
    padding: 5px;
    /* border: 2px solid blue; */
}

canvas {
    image-rendering: pixelated;
}

#colour-container {
    min-width: 400px;
}

#picker {
    width: 100%;
    --details-style: compact;
}

#thickness-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#thickness {
    writing-mode: vertical-lr;
    direction: rtl;
    margin: auto;
}


/* results */
#real-card {
    border: 2px solid green;
}

#drawn-card {
    border: 2px solid yellow;
}

.results {
    font-size: 2em;
}

#score-value {
    font-weight: bold;
}
